<style>
  .section-container--{{ section.id }}{
    margin-top: {{ section.settings.margin_top | append:'px' }};
    margin-bottom: {{ section.settings.margin_bottom | append:'px' }};
    padding-top: {{ section.settings.padding_top | append:'px' }};
    padding-bottom: {{ section.settings.padding_bottom | append:'px' }};
    overflow: hidden;
  }


  @media screen and (max-width: 768px){
    .section-container--{{ section.id }}{
      margin-top: {{ section.settings.margin_top_mobile | append:'px' }};
      margin-bottom: {{ section.settings.margin_bottom_mobile | append:'px'  }};
      padding-top: {{ section.settings.padding_top_mobile | append:'px' }};
      padding-bottom: {{ section.settings.padding_bottom_mobile | append:'px' }};
    }

  }
</style>
<section class="section-container--{{ section.id }}">
  <div class="section-wrapper--{{ section.id }} page-width"></div>
</section>

{% schema %}
{
  "name": "Base Structure",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top  (Mobile)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom  (Mobile)",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Support",
      "type": "support",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Base Structure"
    }
  ]
}
{% endschema %}