{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
     
    }
  }

  .sec2-{{ id }} {
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    border-radius: 40px;
    background:  #FE9E91;
    padding-inline: 0;
    
    max-width: var(--page-width);
    margin-inline:  auto;
   @media(max-width: 1600px) {
      margin-inline: 20px;
    }
    
    @media(max-width: 768px) {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
      margin-inline:  15px;
    }
    h2.--section-title {
        color: var(--Blue-700, #133775);
        text-align: center;
        /* font-family: "Omnes SemiCond"; */
        font-family: "Antique_Olive_Compact_regular";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-block: 0 80px;
        @media(max-width: 768px) {
          font-size: 36px;
          margin-block: 0 50px;
        }
    }
    .marqueeSwiper {
      .swiper-wrapper{
        --swiper-wrapper-transition-timing-function: linear;
        align-items: center;
        .swiper-slide{
          display: flex;
          gap: 10px;
          align-items: center;
          flex-grow: 1;
          width: max-content;
          @media(max-width: 768px) {
            /* gap: 5px; */
          }
          img{
              height: 75px;
              width: auto;
            @media(max-width: 768px) {
              height: 50px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

</style>

<div
  class="sec2-{{ id }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div >
    <h2 class="--section-title">{{ section.settings.title }}</h2>
    <div class="wrapper-{{ id }}">
      <div class="swiper marqueeSwiper marquee-{{ id }} ">
        <div class="swiper-wrapper">
          {% for i in (1..5) %}
            {% for block in section.blocks %}
              <div class="swiper-slide">
                {% unless block.settings.image == blank %}
                  {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy' }}
                {% endunless %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", e => {
    new Swiper(".marquee-{{ id }}", {
      slidesPerView: 'auto',
      spaceBetween: 100,
      loop: true,
      speed: 5000,
      autoplay: {
        delay: 0
      },
      breakpoints: {
        100:{
          spaceBetween: 24,
        },
        769:{
          spaceBetween: 100
        }
      }
    })
  })
</script>

{% schema %}
{
  "name": "Maze Brand Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Maze Brand Slider"
    }
  ]
}
{% endschema %}
